.card{
    border: 3px solid #e4e4e4;
    width: 200px;
    height: 390px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.card:hover{
    background-color: #1f4242;
    transition: 0.5s;
    color: white;
    border: 3px solid black;
}

.card-components{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px 0;
}

.card-components-img img{
    height: 280px;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.card-title{
    text-align: center;
    font-weight: 800;
    font-size: 17px;
}

.card-vote{
    border-radius: 50%;
    border: 4px solid #000000ee;
    padding: 1px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 19px;
    position: absolute;
    transform: translate(10px, -40px);
    color: white;
    background-color: #1f4242;
}

.card-vote:hover{
    background-color: white;
    color: #1f4242;
    border: 4px solid white;
}

.release-date{
    text-align: center;
}

.card-title-date{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
