.card{
    border: 3px solid #e4e4e4;
    width: 200px;
    height: 390px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    padding-bottom: 30px;
}

.card:hover{
    background-color: #1f4242;
    transition: 0.5s;
    color: white;
    border: 3px solid black;
}

.card-components{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-components-img img{
    height: 280px;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.card-title{
    text-align: center;
    font-weight: 800;
    font-size: 17px;
}

.card-vote{
    display: flex;
    font-weight: 500;
    font-size: 19px;
    transform: translate(10px, -40px);
    position: relative;
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1px;
    margin-bottom: -25px;
}
.red-card, .yellow-card, .green-card, .white-card{
    font-weight: 600;
    font-size: 17px;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-card{
    border-top: 5px solid #ff0000;
    border-right: 5px solid #4b0000;
    border-bottom: 5px solid #4b0000;
    border-left: 5px solid #4b0000;
}
.yellow-card{
    border-top: 5px solid #fffb00;
    border-right: 5px solid #fffb00;
    border-bottom: 5px solid #807d00;
    border-left: 5px solid #807d00;
}
.green-card{
    border-top: 5px solid #0fc209;
    border-right: 5px solid #0fc209;
    border-bottom: 5px solid #0fc209;
    border-left: 5px solid #033500;
}
.white-card{
    border-top: 5px solid #c2c2c2;
    border-right: 5px solid #c2c2c2;
    border-bottom: 5px solid #c2c2c2;
    border-left: 5px solid #c2c2c2;
}

.release-date{
    text-align: center;
}

.card-title-date{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@media screen and (max-width: 480px){
    .card{
        width: 280px;
        padding-bottom: 15px;
    }
}

