.navbar{
    background-color: #1f4242;
    padding: 10px;
    border-bottom: 3px solid #152e2e;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.navbar-logo-area{
    font-size: 40px;
}

.navbar-search-area{
 
}