.navbar{
    background-color: #1f4242;
    padding: 15px;
    border-bottom: 3px solid #152e2e;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-container{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    font-size: 18px;
}

.navbar-logo-area{
    width: 50%;
    font-size: 30px;
}

.navbar-search-area{
    width: 50%;
    display: flex;
    justify-content: end;
}